@font-face {
    font-family: 'Vollkorn';
    src: url('./vollkorn/Vollkorn-Regular.woff2') format('woff2');
}

body {
    font-family: "Vollkorn";
    font-size: 36;
    margin: 1em;
    /* Remove when not rendering for e paper displays */
    -webkit-font-smoothing: none;
}

.report {
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 0.5em 0 0.5em 0;
}

.report-icon {
    font-size: 50;
    margin-right: 0.5em;
}

.messages {
    margin: 0.5em 0 0.5em 0;
}

.message {
    margin: 0.5em 0 0.5em 0;
}

.footer {
    font-size: 16px;
    color:black;
    position: absolute; 
    bottom: 0px;
    margin-bottom: 1em; 
}